body{
    margin: 0;
}

.container{
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.superior {
    display: flex;
    align-items: flex-end;
    height: 100%;
    flex-direction: column;
    background: #121a2c;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.inferior {
    display: grid;
    background:#161a24cc;
    width: 70vh;
    height: 60vh;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
}

.ItemCalculo{
    background-color:transparent ;
    border: 0px;
    outline: 0px;
    margin: 10px;
    display: flex;
    text-align: right;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgb(4, 196, 255);
    font-weight: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemNum{
    background-color:transparent ;
    border: 0px;
    outline: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #8a97bb;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemSim{
    border: 0px;
    outline: 0px;
    margin: 18px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.253);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #8a97bb;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemBorrar{
    border: 0px;
    outline: 0px;
    margin: 18px;
    font-size: 20px;
    background: rgb(243, 30, 30);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #8a97bb;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemIgual{
    border: 0px;
    outline: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 18px;
    margin-right: 18px;
    background: rgb(4, 196, 255);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    grid-row: span 2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.itemIgual:hover {
    transform: scale(1.1);
}

.itemBorrar:hover {
    transform: scale(1.1);
}

.itemSim:hover {
    transform: scale(1.1);
}

.itemNum:hover {
    transform: scale(1.1);
}